<header>
  <div class="div-logo" onmouseover="$('#sup').css('borderColor', 'white');$('#sup').css('color', 'white');$('#main-logo').css('color', 'white');" onmouseout="$('#sup').css('borderColor','#808080');$('#sup').css('color', '#808080');$('#main-logo').css('color', '#808080');"> <a href="/" alt="Logo" id="main-logo">Feedwee</a> </div>
  <div class="menus">
    <div id="m1"><a href="/">Home</a></div>
    <div id="m2"><a href="/about">About</a></div>
    <div id="m3"><a href="/corporatelogin">Corporate Login</a></div>
    <div id="m4"><a href="/feederlogin">Feeder Login</a></div>
    <div id="m5"><a href="/signup">Sign Up</a></div>
  </div>
  <div id="pills" onclick="toggle(1)">
    <div class="pill"></div>
    <div class="pill"></div>
    <div class="pill"></div>
  </div>
</header>
