<div class="form">
    <form action="">
        <input type="text" name="corporateName" placeholder="Corporate Name"></br>
        <input type="text" name="corporatePassword" placeholder="Password"></br>
        <input type="submit" value="Login">
    </form>
</div>