<div class="form">
    <form action="">
        <input type="text" name="feederName" placeholder="Feeder Name"></br>
        <input type="text" name="feederPassword" placeholder="Password"></br>
        <input type="submit" value="Login">
    </form>
</div>